
<top-bar [title]="compName"></top-bar>

<div id="clear-field">
<div id="map">
<h3 *ngIf="processing">Loading map....</h3>  

<sebm-google-map [zoom]="12" [mapTypeControl]="enabled" *ngIf="!processing" [latitude]="centerLat" [longitude]="centerLong">
    <li *ngFor="let d of fieldData">
    <sebm-map-polygon [paths]="d.boundaries"></sebm-map-polygon>
    </li>
    <li *ngFor="let d of data | async">
    <sebm-google-map-marker [latitude]="d.lat" [longitude]="d.long" iconUrl={{icons[d.type]}} (markerClick)="clicked(d.type)"></sebm-google-map-marker> 
    </li>
    
</sebm-google-map>
</div>

<div *ngIf="!cleared && !defCleared && !processing" id="afterPublish">
<img src={{icons[currentPest.type]}} />
<p>{{currentPest.name}}</p>
<p>{{currentPest.field.name}}</p>
<p>Spotted on {{currentPest.date.toDateString()}}</p>
<div id="buttons">
<span><a (click)="btnClicked(1)">See what others did</a></span>
<span><a (click)="btnClicked(2)">Contact consultant</a></span>
<span><a (click)="btnClicked(3)">Record action</a></span>
<span><a (click)="btnClicked(5)">Clear Field</a></span>
</div>
</div>

<!-- div *ngIf="cleared" id="afterClear">
<p>{{currentPest.field.name}}</p>
<div class="pestbox">
  <div class="pest"><p>{{currentPest.name}}</p></div>
  <div class="pest"><p>Nothing</p></div>    
</div>
<div class="pestbox">
  <div class="pest"><p>Spotted {{currentPest.date}}</p></div>
  <div class="pest"><p>Applied nothing</p></div>    
</div>
<p>How would you rate this product?</p>
<rating [float]="false" name="rating" [(ngModel)]="rating" [readonly]="false"></rating>
<span><a (click)="btnClicked(5)">Clear Field</a></span>
</div -->

<div *ngIf="defCleared" id="afterClear">
<p>Cleared Successfully!</p>
<img src="/images/success_icon.png"/>
</div>

</div>  
<bottom-bar></bottom-bar>