<top-bar [title]="compName"></top-bar>

<div id="pestdata">
<div id="map">
<h3 *ngIf="processing">Loading map....</h3>  
<sebm-google-map *ngIf="!processing" [zoom]="12" [latitude]="centerLat" [longitude]="centerLong">
    <li *ngFor="let d of data | async">
    <sebm-google-map-circle *ngIf="d.type === type[id]" [latitude]="d.lat" [longitude]="d.long" [radius]="d.radius" [fillColor]="fillcolor" [fillOpacity]="d.opacity"></sebm-google-map-circle>
    </li>
     <li *ngFor="let d of fieldData">
    <sebm-map-polygon [paths]="d.boundaries"></sebm-map-polygon>
    </li>
</sebm-google-map>
</div>

<div *ngIf="!processing" id="pest-details">
<img id="pest-img" src={{pest.icon}} />
<div id="pest-text">
    <ul>
        <li>{{pest.info1}}</li>
        <li>{{pest.info2}}</li>
        <li>{{pest.info3}}</li>
    </ul>
</div>


</div>

<div id="buttons">
<span><a (click)="clicked(1)">Publish spotting</a></span>
<span><a (click)="clicked(2)">Contact Consultant</a></span>
</div>

</div>

<bottom-bar></bottom-bar>