<top-bar [title]="compName"></top-bar>

<div id="manage-field">
<div id="map">
<h3 *ngIf="processing"><i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>Loading map....</h3>  

<sebm-google-map [zoom]="12" [mapTypeControl]="enabled" *ngIf="!processing" [latitude]="centerLat" [longitude]="centerLong">
<li *ngFor="let d of pestData | async">
    <sebm-google-map-marker [latitude]="d.lat" [longitude]="d.long" iconUrl={{icons[d.type]}} (markerClick)="clicked(d.type)"></sebm-google-map-marker> 
    </li>
<li *ngFor="let d of fieldData; let i = index;">
    <sebm-map-polygon [paths]="d.boundaries" [fillColor]="data.datasets[0].backgroundColor[i]"></sebm-map-polygon>
</sebm-google-map>
</div>


<chart *ngIf="!processing" [type]="type" [data]="data" [options]="options" ></chart>

<button>Add Field</button>
</div>
  <bottom-bar></bottom-bar>