<top-bar [title]="PestMap" [linkBack]="back"></top-bar>
<h1>Current Pest Map</h1>

<div id="map">
<h3 *ngIf="processing">Loading map....</h3>  

<sebm-google-map *ngIf="!processing" [latitude]="centerLat" [longitude]="centerLong">
    <li *ngFor="let d of data | async">
    <sebm-google-map-circle [latitude]="d.lat" [longitude]="d.long" [radius]="50000" [fillColor]="black" [fillOpacity]="d.opacity"></sebm-google-map-circle>
    </li>
</sebm-google-map>
</div>

<div id="pest-map-container">
<div id="add-pest">  
    <h2 class="add-pest-header">Report new pests</h2>  
    <form #f="ngForm"  
          (ngSubmit)="addLocation(f.value)"  
          >
 
      <div class="field">  
        <label for="pestName">Pest name</label>  
        <input type="text"  
               id="pestName"  
               placeholder="Name"  
               name="pestname" [(ngModel)]="formdata.name" required>  
      </div>
      <div class="field">  
        <label for="lat">Latitude</label>  
        <input type="float"  
               id="lat"  
               placeholder="Latitude"  
               name="lat" [(ngModel)]="formdata.lat" required>  
      </div>
      <div class="field">  
        <label for="long">Longitude</label>  
        <input type="float"  
               id="long"  
               placeholder="Longitude"  
               name="long" [(ngModel)]="formdata.long" required>  
      </div>
      <button id="location" (click)="getCurrentLocation()">Set current location &#9881;</button>

      <div class="field">  
        <label for="rad">Radius(metres):</label>  
        <input type="float"  
               id="rad"  
               placeholder="Radius"  
               name="rad" [(ngModel)]="formdata.radius" required>  
      </div>
      <div class="field">  
        <label for="op">Severity(0.0 to 1.0):</label>  
        <input type="float"  
               id="op"  
               placeholder="0.0 to 1.0"  
               name="op" [(ngModel)]="formdata.opacity" required>  
      </div>
 
      <button id="submit" type="submit">Report</button>  
    </form>  
  </div>  
  </div>
  
