
#pest-map-container{
  display: flex;
  justify-content: center;
  flex-direction: row;
}


#add-pest{
  padding: 20px;
  margin: 20px;
  background-color: #ccc;
  width: 320px;

  .field{
      padding: 5px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      input{
        padding: 5px;
        border-radius: 2px;
        border: none;
      }

      

  }

  button {
        padding: 10px;
        color: white;
        border: none;
        border-radius: 3px;
        margin: 10px;
    }

    #location{
        background-color: green;
    }

    #submit{
      background-color: red;
    }


}

#map{
    text-align: center;
    display: flex;
    align-content: center;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    

  .sebm-google-map-container {
  height: 320px;
  width: 320px;
  align-self: center;
  border:4px solid #4527a0;
}


}

@media only screen and (max-width: 425px){
.sebm-google-map-container {
  width: 90%;
 }
#add-pest{
width: 90%;
margin-left: 0px;
margin-right: 0px;
}

}