<div id="signup">
<img src="/images/logo.png" id="signup-img" />
<h1>Sign Up</h1>

<form #f="ngForm" (ngSubmit)="signup(f.value)">
 
      <div class="field">  
          
        <input type="text"  
               id="fname"  
               placeholder="First Name"  
               name="fname" [(ngModel)]="formdata.firstname" required>  
      </div>
      <div class="field">  
         
        <input type="text"  
               id="lname"  
               placeholder="Last Name"  
               name="lname" [(ngModel)]="formdata.lastname" >  
      </div>

    <div id="flipper">
    <label>Consultant</label>
      <ui-switch id="flip" name="isFarmer" color="#f24964" [(ngModel)]="formdata.isFarmer" isFarmer></ui-switch>
    <label>Farmer</label>
    </div>


      <div class="field">  
          
        <input type="text"  
               id="email"  
               placeholder="Email"  
               name="email" [(ngModel)]="formdata.email" required>  
      </div>

      <div class="field">  
         
        <input type="text"  
               id="phone"  
               placeholder="Phone"  
               name="phone" [(ngModel)]="formdata.phone" required>  
      </div>
      <div class="field">  
         
        <input type="password"  
               id="password"  
               placeholder="Password"  
               name="password" [(ngModel)]="formdata.password" required>  
      </div>
      <div class="field">  
          
        <input type="password"  
               id="password2"  
               placeholder="Confirm password"  
               name="password2" [(ngModel)]="formdata.confirmPassword" required>  
      </div>

<div id="buttons">
<button id="submit" type="submit">Sign up</button>
<button (click)="backpressed()">Cancel</button>
</div>
</form>
</div>
