@import '../../styles/colors';

#top-bar{
width: 100%;
height: 30px;
background-color: $primary-color;
color: white;
font-size: 20px;
position: fixed;
padding: 10px;
padding-left: 0px;
padding-right: 0px;
display: flex;
justify-content: space-between;
flex-direction: row;
z-index: 999;


a{
  background-color: $secondary-color;  
  padding: 10px;
  padding-top: 20px;
  width: 50px;
  height: 50px;
  font-size: 25px;
  border-radius: 50%;
  text-decoration: none;
  align-self: center;
  color: $font-color;
}

h3{
  align-self: center;
}

#help{
  right: -20px;
  position: relative;
  padding-right: 20px;
}

#back{
  left:-20px;
  padding-left: 20px;
  position: relative;
}

}
