<top-bar [title]="compName"></top-bar>


<div id="home">
    <p *ngIf="user">Hello {{user.profile.firstName}}! </p>
<div id="map">
<h3 *ngIf="processing"><i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>Loading map....</h3>  
<sebm-google-map *ngIf="!processing" [zoom]="12" [mapTypeControl]="enabled" [latitude]="centerLat" [longitude]="centerLong">
    <li *ngFor="let d of data | async">
    <sebm-google-map-marker [latitude]="d.lat" [longitude]="d.long" iconUrl="/images/weed_map.png" (markerClick)="clicked(1)"></sebm-google-map-marker> 
    </li>
    <li *ngFor="let d of fieldData">
    <sebm-map-polygon [paths]="d.boundaries"></sebm-map-polygon>
    </li>
</sebm-google-map>
</div>

<newsfeed></newsfeed>
<bottom-bar></bottom-bar>