 #home{
width: 100%;
height: 110vh;
display: flex;
flex-direction: column;
justify-content: center;

 #map{
    text-align: center;
    display: flex;
    align-self: center;
    align-content: center;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 90%;
    height: 50%;
    margin: 0;
    border-radius: 10px;

  .sebm-google-map-container {
  height: 100%;
  width: 100%;
  align-self: center;
}


}

}

@media only screen and (max-width: 425px){
.sebm-google-map-container {
  width: 80%;
 }
#add-pest{
width: 90%;
margin-left: 0px;
margin-right: 0px;
}

}

