<top-bar [title]="compName"></top-bar>

<div id="consultant">

<div id="consultant-container">
    <img src="/images/consultant_1.png" /><p>Michael Stumpf</p>
    <button><img id="two" src="/images/message.png" /></button>
    <button><img id="one" src="/images/call.png" /></button>
</div>
<div id="consultant-container">
    <img src="/images/consultant_2.png" /><p>Anna Holmqvist</p>
    <button><img id="two" src="/images/message.png" /><!-- i class="fa fa-envelope-open" aria-hidden="true"></i--></button>
    <button><img id="one" src="/images/call.png" /><!-- i class="fa fa-phone" aria-hidden="true"></i--></button>
</div>
<div id="consultant-container">
    <img src="/images/consultant_3.png" /><p>Petri Heino</p>
    <button><img id="two" src="/images/message.png" /></button>
    <button><img id="one" src="/images/call.png" /></button>
</div>
</div>

<bottom-bar></bottom-bar>