<top-bar [title]="compName"></top-bar>

<div id="consultant">

<div id="consultant-container">
    <img src="/images/consultant.png" /><p>Michael Stumpf</p>
    <button><i class="fa fa-envelope-open" aria-hidden="true"></i></button>
    <button><i class="fa fa-phone" aria-hidden="true"></i></button>
</div>
<div id="consultant-container">
    <img src="/images/consultant.png" /><p>Anna Holmqvist</p>
    <button><i class="fa fa-envelope-open" aria-hidden="true"></i></button>
    <button><i class="fa fa-phone" aria-hidden="true"></i></button>
</div>
<div id="consultant-container">
    <img src="/images/consultant.png" /><p>Petri Heino</p>
    <button><i class="fa fa-envelope-open" aria-hidden="true"></i></button>
    <button><i class="fa fa-phone" aria-hidden="true"></i></button>
</div>
</div>

<bottom-bar></bottom-bar>