@import '../../styles/colors';

#consultant{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 155vh;
    position: relative;
    top: 30px;
    background-color: $primary-color;

       
            #consultant-container{
                align-self: center;
                width: 90%;
                margin: 5px;
                padding: 10px;
                cursor: pointer;
                img{
                    width: 40%;
                }
                p{
                    font-size: 15px;
                    color: $font-color;
                    margin: 5px;
                }
                button{
                    font-size: 15px;
                    padding: 5px;
                    border: none;
                    background-color: $primary-color;
                    color: white;
                    width: 20%;     
                    height: 40px;   
                    #two{
                        width: 60%;
                        height: 70%;
                    }
                    #one{
                        width:25%;
                        height:70%; 
                    }
                }
                
                }

        }


