
<top-bar [title]="compName"></top-bar>

<div id="record-action">
<div id="map">
<h3 *ngIf="processing">Loading map....</h3>  

<sebm-google-map [zoom]="12" [mapTypeControl]="enabled" *ngIf="!processing" [latitude]="centerLat" [longitude]="centerLong">
    <li *ngFor="let d of fieldData">
    <sebm-map-polygon [paths]="d.boundaries"></sebm-map-polygon>
    </li>
    <li *ngFor="let d of data | async">
    <sebm-google-map-marker [latitude]="d.lat" [longitude]="d.long" iconUrl={{icons[d.type]}} (markerClick)="clicked(d.type)"></sebm-google-map-marker> 
    </li>
    <sebm-google-map-marker [latitude]="formdata.field.centerLat" [longitude]="formdata.field.centerLong" *ngIf="formdata.field" iconUrl="/images/choose.png"></sebm-google-map-marker>
</sebm-google-map>
</div>

<div *ngIf="cleared" id="afterPublish">
<p>Cleared Successfully!</p>
<img src="/images/success_icon.png"/>
</div>


<div *ngIf="published" id="afterPublish">
<p>Saved Successfully!</p>
<img src="/images/success_icon.png"/>
<div id="buttons">
<span><a (click)="btnClicked(1)">See what others did</a></span>
<span><a (click)="btnClicked(2)">Clear Field</a></span>
</div>
</div>

<div *ngIf="!published && !cleared" id="pest-form-container">  

    <form #f="ngForm"  
          (ngSubmit)="addSpotting(f.value)"  
          >

<label>Where and when?</label>

<div class="field">    
    <p-calendar name="date" [inputStyleClass]="inputs" placeholder="Date" [(ngModel)]="formdata.date"></p-calendar> 
    </div>

    <div class="field">  
    <p-dropdown [style]="{'width':'200px'}" [(ngModel)]="formdata.field" [styleClass]="inputs" id="field" name="field" placeholder="Location" [options]="fieldsSelection"></p-dropdown>
    </div>

    <label>Pesticide details:</label>
    <div class="field">  
    <p-dropdown [style]="{'width':'200px'}" [(ngModel)]="formdata.pest" [styleClass]="inputs" id="pest" name="pest" placeholder="Pest" [options]="pestSelection"></p-dropdown>
    </div>

      <div class="field">  
        <input type="text"  
               id="pesticide"  
               placeholder="Product"  
               name="pesticide" [(ngModel)]="formdata.pesticide" required>  
      </div>

      
      <div class="field">  
        <input type="text"  
               id="applier"  
               placeholder="Applier"  
               name="applier" [(ngModel)]="formdata.applier" required>  
      </div>

         <div class="field">  
        <input type="number"  
               id="amount"  
               placeholder="Amount [l/ha]"  
               name="amount" [(ngModel)]="formdata.amount" required>  
      </div>

         <div class="field">  
        <input type="number"  
               id="price"  
               placeholder="Price [€/l]"  
               name="price" [(ngModel)]="formdata.price" required>  
      </div>

      <label>Pesticide rating:</label>
          <div class="field">
          <rating [float]="false" name="rating" [(ngModel)]="formdata.rating" [readonly]="false"></rating>
          </div>

    <button id="submit" type="submit">Save</button>  
    </form>  
  </div>  
</div>
  <bottom-bar></bottom-bar>