
<top-bar [title]="compName"></top-bar>

<div id="pest-form">
<div id="map">
<h3 *ngIf="processing">Loading map....</h3>  

<sebm-google-map *ngIf="!processing" [latitude]="centerLat" [longitude]="centerLong">
<sebm-google-map-marker *ngIf="published" [latitude]="formdata.lat" [longitude]="formdata.long" iconUrl="/images/weed_map.png"></sebm-google-map-marker> 
</sebm-google-map>
</div>

<div *ngIf="published" id="afterPublish">
<p>Published Successfully!</p>
<img src="/images/success_icon.png"/>
<div id="buttons">
<span><a (click)="clicked(1)">See what others did</a></span>
<span><a (click)="clicked(2)">Contact Consultant</a></span>
</div>
</div>

<div *ngIf="!published" id="pest-form-container">  

    <form #f="ngForm"  
          (ngSubmit)="addSpotting(f.value)"  
          >
 
      <div id="pest-icons-container">
        <a (click)="typeSelected(0)"><img [ngStyle]="styles[0]" src="images/weed_icon.png"/></a>
        <a (click)="typeSelected(1)"><img [ngStyle]="styles[1]" src="images/bug_icon.png"/></a>
        <a (click)="typeSelected(2)"><img [ngStyle]="styles[2]" src="images/fungi_icon.png"/></a>
        <a (click)="typeSelected(3)"><img [ngStyle]="styles[3]" src="images/warning_icon.png"/></a>
      </div>


      <div class="field">  
        <input type="text"  
               id="pestName"  
               placeholder="Search pest"  
               name="pestname" [(ngModel)]="formdata.name" required>  
      </div>

    <div class="field">  
    <p-dropdown [(ngModel)]="formdata.field" [styleClass]="inputs" id="field" name="field" [style]="{'width':'200px'}" placeholder="Location" [options]="fieldsSelection"></p-dropdown>
    </div>
    <div class="field">    
    <p-calendar name="date" placeholder="Date" [(ngModel)]="formdata.date"></p-calendar> 
    </div>

    <button id="submit" type="submit">Publish</button>  
    </form>  
  </div>  
</div>
  <bottom-bar></bottom-bar>